<!-- What We Do Section -->
<section class="we-do bg-grey padding" id='about'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn"> 
        <p class="title">Our Service Keeps you Happy</p>
        <h2 class="heading">what we do</h2>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> 
        <div class="do-wrap text-center"> 
          <div class="dark_gray top"></div> 
          <span class="dark_gray"><i class="icon-icons9"></i></span>
          <h4>Title - Service</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
          <br><br></div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms"> 
        <div class="do-wrap text-center"> 
          <div class="green top"></div> 
          <span class="green"><i class="icon-icons9"></i></span>
          <h4>Title - Service</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
          <br><br></div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms"> 
        <div class="do-wrap text-center"> 
          <div class="dark_gray top"></div> 
         <span class="dark_gray"> <i class="icon-icons9"></i></span>
          <h4>Title - Service</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
          <br><br></div>
      </div>
      <div class="col-md-3 col-sm-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms"> 
        <div class="do-wrap text-center"> 
          <div class="green top"></div> 
          <span class="green"><i class="icon-icons9"></i></span>
          <h4>Title - Service</h4>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
          <br><br></div>
      </div>
    </div>
  </div>
 </section>

<!--Counter-->
<section id="facts" class="top-padding">
  <div class="col-md-12 text-center">
    <h3 class="" style='letter-spacing: 2px; font-size: 30px;'>In Business Since <mark style='border-radius: 10px'>1996</mark></h3><br>
  </div>
  <div class="container-fluid">
    <div class="row number-counters"> 
      <!-- first count item -->
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
        <div class="counters-item green row">
        <i class="icon-smile"></i> 
        <h2><strong data-to="125">0</strong></h2>
          <p>Happy Customer</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        
        <div class="counters-item blue row"> 
        <i class="icon-icons42"></i>
        <h2><strong data-to="510">0</strong></h2>
          <p>Projects Completed</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="600ms">
        <div class="counters-item dark_gray row"> 
        <i class="icon-alarmclock"></i>
        <h2><strong data-to="865">0</strong></h2>
          <p>abc</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="800ms">
        <div class="counters-item green row"> 
        <i class="icon-icons9"></i>
        <h2><strong data-to="1350">0</strong></h2>
          <p>xyz</p>
        </div>
      </div>
      <!-- end first count item --> 
    </div>
  </div>
</section>



<!-- Skills With Round Pattern -->
<section id="experties" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">Some of Our skills</p>
        <h2 class="heading">our expertise</h2>
      </div>
      <div class="col-md-12">
      <div class="some clearfix text-center">
      <div class="myStat2" data-text="96%" data-width="10" data-fontsize="14" data-percent="96" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15"> 
      <p>Experty</p>
      </div>
      <div class="myStat2" data-text="82%"  data-width="30" data-fontsize="14" data-percent="82" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
      <p>Experty</p>
      </div>
      <div class="myStat2"  data-text="87%"  data-width="30" data-fontsize="14" data-percent="87" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
     <p>Experty</p>
      </div>
      <div class="myStat2"  data-text="85%"  data-width="30" data-fontsize="14" data-percent="85" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
      <p> Experty</p>
      </div>
      <div class="myStat2"  data-text="93%" data-width="30" data-fontsize="14" data-percent="93" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
     <p> Experty</p>
      </div>
     </div>
      </div>
    </div>
  </div>
</section>