<!-- What We Do Section -->
<section id="about" style='padding: 30px 30px'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
        <p class="title">Our Valued Services</p>
        <h2 class="heading">What we Offer</h2>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms"> 
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color6">Liner Installs</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms"> 
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color1">Equipment Installs</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="700ms"> 
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color6">Pool Leak Detection</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms"> 
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color1">Openings and Closings</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1300ms">
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color1">Hot Tub Maintenance</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1500ms">
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color1">Chemical Checks</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1100ms"> 
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color6">Weekly Service</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1700ms">
        <span class="text-center"><i class="fas fa-tools color6"></i></span>
        <h4 class="color1">Safety Covers Install</h4>
        <p>Keep away from people who try to belittle your ambitions. Small people always do that but the really great.</p>
      </div>
    </div>
  </div>
</section>
<!--Counter-->
<section id="facts" style='padding-top: 30px'>
  <h3 class="hidden">hidden</h3>
  <div class="col-md-12 text-center">
    <p class="title">What makes US</p>
    <h3 class="" style='letter-spacing: 2px; font-size: 30px;'>Our Proud History</h3><br>
  </div>
  <div class="container-fluid">
    <div class="row number-counters"> 
      <!-- first count item -->
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
        <div class="counters-item green row">
        <i class="icon-smile"></i> 
        <h2><strong data-to="19"></strong>K +</h2>
          <p>Happy Customer</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="counters-item blue row"> 
        <i class="icon-icons42"></i>
        <h2><strong data-to="10"></strong>K +</h2>
          <p>Projects Completed</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="counters-item blue row"> 
        <i class="icon-icons42"></i>
        <h2><strong data-to="25"></strong></h2>
          <p>Years Of Experience</p>
        </div>
        </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="counters-item blue row"> 
        <i class="icon-smile"></i>
        <h3 style='margin-bottom: 7px'><strong>HAPPY TO SERVE</strong></h3>
        <h4 style='margin-bottom: 6.5px'><a href='#contact' style='text-decoration: underline;'>Contact Us</a></h4>
        <h4>FUN IN THE SUN</h4>
        </div>
      </div>
      </div>
      <!-- end first count item --> 
    </div>
  </div>
</section>



<!-- Skills With Round Pattern -->
<section id="experties" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">Some of Our skills</p>
        <h2 class="heading">our expertise</h2>
      </div>
      <div class="col-md-12">
        <div class="some clearfix text-center">
          <div class="myStat2" data-text="96%" data-width="10" data-fontsize="14" data-percent="96" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15"> 
            <p class='uppercase'>Opening and Closing</p>
          </div>
          <div class="myStat2" data-text="90%"  data-width="30" data-fontsize="14" data-percent="90" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'>Liner Installs</p>
          </div>
          <div class="myStat2"  data-text="87%"  data-width="30" data-fontsize="14" data-percent="87" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'>Equipment Installs</p>
          </div>
          <div class="myStat2"  data-text="95%"  data-width="30" data-fontsize="14" data-percent="95" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'> Leak Detection</p>
          </div>
          <div class="myStat2"  data-text="93%" data-width="30" data-fontsize="14" data-percent="93" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'> Chemical Checks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container" style='margin: center; margin-top: 30px'>
    <span class="text-center">
      <div class="counters-item">
        <i class="icon-smile color6"></i> 
        <h4 class="color6">Satisfaction Guranteed</h4><br>
        <h4>At FUN IN THE SUN Pool Service, you get what you deserve,<br> 100% satisfaction!</h4>
      </div>
    </span>
    </div>
</section>