<!-- What We Do Section -->
<section id="about" style='padding: 30px 30px'>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
        <p class="title">Our Valued Services</p>
        <h2 class="heading">What we Offer</h2>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms"> 
        <span class="text-center"><a onclick="requestPlan('Liner Install')" href='#contact'><i class="fas fa-tools color6"></i></a></span>
        <a onclick="requestPlan('Liner Install')" href='#contact'><h4 class="color6">Liner Installs</h4></a>
        <a onclick="requestPlan('Liner Install')" href='#contact'><p>We offer perfectly installed Liners with the Water Color looking the way you Love.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms"> 
        <span class="text-center"><a onclick="requestPlan('Equipment Install')" href='#contact'><i class="fas fa-tools color6"></i></a></span>
        <a onclick="requestPlan('Equipment Install')" href='#contact'><h4 class="color1">Equipment Installs</h4></a>
        <a onclick="requestPlan('Equipment Install')" href='#contact'><p>We can replace all the pieces of old Equipment or the whole Equipment.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="700ms"> 
        <span class="text-center"><a onclick="requestPlan('Pool Leak Detection')" href='#contact'><i class="fas fa-tint color6"></i></a></span>
        <a onclick="requestPlan('Pool Leak Detection')" href='#contact'><h4 class="color6">Pool Leak Detection</h4></a>
        <a onclick="requestPlan('Pool Leak Detection')" href='#contact'><p>We offer Modern techniques for Leak Detection problems</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms"> 
        <span class="text-center"><a onclick="requestPlan('Openings and Closings')" href='#contact'><i class="fas fa-calendar-check color6"></i></a></span>
        <a onclick="requestPlan('Openings and Closings')" href='#contact'><h4 class="color1">Openings and Closings</h4></a>
        <a onclick="requestPlan('Openings and Closings')" href='#contact'><p>We offer Professional service in Opening or Closing of Pools at the start or end of the season.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1100ms">
        <span class="text-center"><a onclick="requestPlan('Swimming Pool Maintenance')" href='#contact'><i class="fas fa-swimming-pool color6"></i></a></span>
        <a onclick="requestPlan('Swimming Pool Maintenance')" href='#contact'><h4 class="color1">Swimming Pool Maintenance</h4></a>
        <a onclick="requestPlan('Swimming Pool Maintenance')" href='#contact'><p>Our Services make sure your Pool is at its Best of Condition throughout the season.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1300ms">
        <span class="text-center"><a onclick="requestPlan('Hot Tub Maintenance')" href='#contact'><i class="fas fa-hot-tub color6"></i></a></span>
        <a onclick="requestPlan('Hot Tub Maintenance')" href='#contact'><h4 class="color1">Hot Tub Maintenance</h4></a>
        <a onclick="requestPlan('Hot Tub Maintenance')" href='#contact'><p>Our Services make sure your Hot Tub is at its Best of Condition thorughout the season.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1500ms">
        <span class="text-center"><a onclick="requestPlan('Chemical Checks')" href='#contact'><i class="fas fa-vials color6"></i></a></span>
        <a onclick="requestPlan('Chemical Checks')" href='#contact'><h4 class="color1">Chemical Checks</h4></a>
        <a onclick="requestPlan('Chemical Checks')" href='#contact'><p>We make sure your Water Chemistry is Best for your Health.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1700ms"> 
        <span class="text-center"><a onclick="requestPlan('Weekly Service')" href='#contact'><i class="fas fa-clock color6"></i></a></span>
        <a onclick="requestPlan('Weekly Service')" href='#contact'><h4 class="color6">Weekly Service</h4></a>
        <a onclick="requestPlan('Weekly Service')" href='#contact'><p>We offer weekly services according to what your Pool or Hot Tub will need.</p></a>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1900ms">
        <span class="text-center"><a onclick="requestPlan('Safety Covers Install')" href='#contact'><i class="fas fa-tools color6"></i></a></span>
        <a onclick="requestPlan('Safety Covers Install')" href='#contact'><h4 class="color1">Safety Covers Install</h4></a>
        <a onclick="requestPlan('Safety Covers Install')" href='#contact'><p>At the end of the season, it is important to install covers, we got you covered!</p></a>
      </div>
    </div>
  </div>
</section>

<section id="pricing" style='padding-bottom: 30px'>
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
 <h2 class="heading">Chooose a Plan</h2>
</div>
<div class="col-md-12">
<div class="pricing pricing_tenzin">
                <div class="pricing_item dark_gray">
                    <h3 class="pricing_title">Basic Opening Plan</h3>
                    <div class="pricing_price"><span class="pricing_currency">Starting at </span> $299.99<span class="pricing_currency"> + HST</span></div>
                    <p class="pricing_sentence"></p>
                    <ul class="pricing_list">
                        <li class="pricing_feature"><strong>With Water Bags: $345 <span class="pricing_currency"> + HST</span>; Bead Covers: $320 <span class="pricing_currency"> + HST</span></strong></li>
                        <li class="pricing_feature">Pump off water from cover and remove
                        <li class="pricing_feature">Power wash, fold, and store cover in garage</li>
                        <li class="pricing_feature">Drain, clean, and store water bags (if required)</li>
                        <li class="pricing_feature">Re-assemble filtration equipment</li>
                        <li class="pricing_feature">Re-install diving board, step ladders, eyeballs and return jets</li>
                        <li class="pricing_feature">Add shock treatment</li>
                        <li class="pricing_feature">System start-up</li>
                        <li class="pricing_feature">1L concentrated algaecide</li>
                    </ul>
                    <a class="pricing_action text-center bounce-white" onclick='requestPlan("Basic Opening Plan")' href="#contact">Request Basic Opening Plan</a>
                </div>
                <div class="pricing_item active">
                    <h3 class="pricing_title">Popular Plan</h3>
                    <div class="pricing_price">Request Quote</div>
                    <p class="pricing_sentence"></p>
                    <ul class="pricing_list">
                        <li class="pricing_feature"><strong>Basic Opening Plan</strong></li>
                        <li class="pricing_feature">Heater start up</li>
                        <li class="pricing_feature">18 weeks of weekly maintenance</li>
                        <li class="pricing_feature">Weekly cleaning of scum line</li>
                        <li class="pricing_feature">Weekly report of the swimming pool readings</li>
                        <li class="pricing_feature"><strong>Closing package</strong></li>
                        <br>
                        <li class="pricing_feature"><strong>*Parts and repairs required during the season is not included and will be subject to additional costs.</strong></li>
                    </ul>
                    <a class="pricing_action text-center bounce-white" onclick='requestPlan("Popular Plan")' href="#contact">Request Popular Plan</a>
                </div>
                <div class="pricing_item dark_gray">
                    <h3 class="pricing_title">Additional services</h3>
                    <div class="pricing_price">Request Quote</div>
                    <p class="pricing_sentence"></p>
                    <ul class="pricing_list">
                        <li class="pricing_feature">Start-up spill over spa at time of opening at only <strong>$80 <span class="pricing_currency"> + HST </span></strong></li>
                        <li class="pricing_feature">Vacuum pool at time of opening/start-up/per hour at only <strong>$75 <span class="pricing_currency"> + HST </span></strong></li>
                        <li class="pricing_feature">Salt cell inspection and cleaning at time of opening or closing at only <strong>$32.50 <span class="pricing_currency"> + HST </span></strong></li>
                        <li class="pricing_feature">Cartridge cleaning with concentrated cleaner (onsite) at only <strong>$90 <span class="pricing_currency"> + HST </span></strong></li>
                        <li class="pricing_feature">Add salt to the pool at only <strong>$12.99/bag <span class="pricing_currency"> + HST </span></strong></li>
                    </ul>
                    <a class="pricing_action text-center bounce-white" onclick='requestPlan("Additional Services")' href="#contact">Request Additional Services</a>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>

<!--Counter-->
<section id="facts" style='padding-top: 30px'>
  <h3 class="hidden">hidden</h3>
  <div class="col-md-12 text-center">
    <p class="title">What makes US</p>
    <h3 class="" style='letter-spacing: 2px; font-size: 30px;'>Our Proud History</h3><br>
  </div>
  <div class="container-fluid">
    <div class="row number-counters"> 
      <!-- first count item -->
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="200ms">
        <div class="counters-item green row">
        <i class="icon-smile"></i> 
        <h2><strong data-to="19"></strong>K +</h2>
          <p>Happy Customer</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="counters-item blue row"> 
        <i class="icon-icons42"></i>
        <h2><strong data-to="10"></strong>K +</h2>
          <p>Projects Completed</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="counters-item blue row"> 
        <i class="far fa-calendar-alt"></i>
        <h2><strong data-to="25"></strong></h2>
          <p>Years Of Experience</p>
        </div>
        </div>
      <div class="col-md-3 col-sm-3 col-xs-12 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="400ms">
        <div class="counters-item blue row"> 
        <i class="icon-smile"></i>
        <h2><strong data-to="100"></strong>%</h2>
          <p>Satisfaction Level</p>
        </div>
      </div>
      </div>
      <!-- end first count item --> 
    </div>
  </div>
</section>



<!-- Skills With Round Pattern -->
<section id="experties" class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">Some of Our skills</p>
        <h2 class="heading">our expertise</h2>
      </div>
      <div class="col-md-12">
        <div class="some clearfix text-center">
          <div class="myStat2" data-text="95%"  data-width="30" data-fontsize="14" data-percent="95" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'>Liner Installs</p>
          </div>
          <div class="myStat2"  data-text="93%"  data-width="30" data-fontsize="14" data-percent="93" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'>Equipment Installs</p>
          </div>
          <div class="myStat2" data-text="92%" data-width="10" data-fontsize="14" data-percent="92" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15"> 
            <p class='uppercase'>Opening and Closing</p>
          </div>
          <div class="myStat2"  data-text="91%"  data-width="30" data-fontsize="14" data-percent="91" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'> Leak Detection</p>
          </div>
          <div class="myStat2"  data-text="97%" data-width="30" data-fontsize="14" data-percent="97" data-fgcolor="#0588BC" data-bgcolor="#eee" data-bordersize="15">
            <p class='uppercase'> Chemical Checks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container wow fadeInUp zoomIn" style='margin: auto; margin-top: 30px'>
    <span class="text-center">
      <div class="counters-item">
        <div class="thinker-wrap"> 
          <div class="thinker-image">
            <a class="" href="/"><img src="images/Logo-1-black.png" height='250px' width='300px' alt="logo"></a>
          </div>
        </div>
        <h2 class="color6">Satisfaction Guranteed</h2><br>
        <h4>At FUN IN THE SUN Pool Service, you get what you deserve,<br> 100% satisfaction!</h4>
      </div>
    </span>
    </div>
</section>