<!-- Footer-->
<footer class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> 

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb">
          <li><a href="#main-slider" class="page-scroll">Home</a></li>
          <li><a href="#about" class="page-scroll">Our Services</a></li>
          <li><a href="#project" class="page-scroll">Work</a></li>
          <li><a href="#pricing" class="page-scroll">Prices</a></li>
          <li><a href="#contact" class="page-scroll">Request a Quote</a></li>
          <li><a href="#contactus" class="page-scroll">Contact Us</a></li>
        </ul>
        <p>Copyright &copy; 2021 Fun In The Sun Pool Service. all rights reserved.</p>
        <p><strong>Website by <a href='mailto:sarora37@outlook.com'><u>Sahib Arora</u></a></strong></p>
      </div>
    </div>
  </div>
</footer>