<section class="info-section" id="contact">
    <div class="col-md-12 block light text-center wow fadeInLeftBig" data-wow-duration="500ms" data-wow-delay="300ms">
      <div class="center">
        <h2>Request a Quote</h2>
        <form class="form-inline" id="contact-form" onSubmit="return validateForm(this)" method='POST' action='/requestQuote'>
          <div class="row">
            <div class="col-md-12 center"><div id="result"></div> </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control"  placeholder="Your Name *" name="name" id="name" required>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group" style='text-align: left'>
              <input type="number" class="form-control"  placeholder="Phone Number *" name="phone" id="phone" onfocusout='validatePhoneNumber()' required>
              <span id='phoneMessage' style='color: red; display:none'>Phone number should be exactly 10 numbers, and in the format xxxxxxxxxx</span>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group" style='text-align: left'>
              <select id='methodOfContact' name="methodOfContact" class="form-control" style='padding: 1px' onchange='checkEmail()' required>
                <option value=''>Method of Contact *</option>
                <option value="Phone">Phone</option>
                <option value="Email">Email</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group" style='text-align: left'>
              <input type="email" class="form-control"  placeholder="E-mail Address (optional)" name="email" id="email" onfocusout='validateEmail()'>
              <span id='emailMessage' style='color: red; display:none'>Please enter Valid email address</span>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <select class="form-control" id='services' name="services" onchange='checkAdditionalService()' style='padding:1px' required>   
                <option value=''>Choose your desired Service *</option>
                <option value='Additional Services'>Additional Services</option>
                <option value="Basic Opening Plan">Basic Opening Plan</option>
                <option value='Chemical Checks'>Chemical Checks</option>
                <option value="Equipment Install">Equipment Install</option>
                <option value='Hot Tub Maintenance'>Hot Tub Maintenance</option>
                <option value="Liner Install">Liner Install</option>
                <option value='Openings and Closings'>Openings and Closings</option>
                <option value="Painting">Painting</option>
                <option value="Pool Leak Detection">Pool Leak Detection</option>
                <option value="Popular Plan">Popular Plan</option>
                <option value='Safety Covers Install'>Safety Covers Install</option>
                <option value='Swimming Pool Maintenance'>Swimming Pool Maintenance</option>
                <option value='Weekly Service'>Weekly Service</option>
              </select>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control"  placeholder="Address/Town *" name="Address" id="Address" required>
            </div>
            <div class="col-xs-8 col-md-12" id='additionalServicesBox' style='text-align: left; display: none; background-color: #fff; margin-bottom:15px; padding: 8px;'>
              <input type='checkbox' id='1' name='ser1'> Start-up spill over spa at time of opening @ $80 <span class="pricing_currency"> + HST</input><br>
              <input type='checkbox' id='2' name='ser2'> Vacuum pool at time of opening/start-up/per hour @ $75 <span class="pricing_currency"> + HST</input><br>
              <input type='checkbox' id='3' name='ser3'> Salt cell inspection and cleaning at time of opening or closing @ $32.50 <span class="pricing_currency"> + HST</input><br>
              <input type='checkbox' id='4' name='ser4'> Cartridge cleaning with concentrated cleaner (onsite) @ $90 <span class="pricing_currency"> + HST</input><br>
              <input type='checkbox' id='5' name='ser5'> Add salt to the pool @ $12.99/bag <span class="pricing_currency"> + HST</input><br>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control"  placeholder="Project Timeline (optional)" name="projectTimeline" id="projectTimeline">
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control"  placeholder="How did you hear about us? (optional)" name="hearAboutUs" id="hearAboutUs">
            </div>
            <div class="col-xs-12 col-md-12">
              <textarea placeholder="Additional Details... (optional)" class="form-control" name="message" id="message"></textarea>
              <button type="submit" class="btn-black btn-blue bounce-white" id="btn_submit"> Get a Quote </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<script>
  function checkEmail(){
    var value = document.getElementById('methodOfContact').value
    var email = document.getElementById('email')

    if(value == 'Email'){
      email.placeholder = 'Email *'
      email.required = true;
    }else if(value == 'Phone'){
      email.placeholder = 'E-mail Address (optional)'
      email.required = false;
    }
  }
</script>