<section id="main-slider">
  
  <div class="tp-banner-container">
    <div class="fullscreenbanner tp-banner">      
      <ul>	<!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000" >
        <!-- MAIN IMAGE -->
       	 <img  src="images/Slider-img-4.jpg" alt="slidebg1" data-bgfit="cover">
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="center"
           data-y="100" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 80px">
           Pool Season <br>is Coming ...
           </h2>
            <!-- LAYER NR. 3 --> 
           <p class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="300" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5; font-weight: 900; font-size: 35px">Are you ready to bring the best of Summer 2021?
           </p>
           
           
        <!-- LAYER NR. 4 -->
           <div class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="390" 
           data-speed="500"
           data-start="2500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#contactus" class="btn-common btn-green bounce-white page-scroll">Contact Us</a>
           </div>
        
        </li>
      
      <!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE -->
       	 <img  src="images/slider-img-3.jpg" alt="slidebg1" data-bgposition="center top" >
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption fade tp-resizeme text-left"
           data-x="center"
           data-y="75" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;font-weight: 900; font-size: 65px">Have a look to <br>how can we help, <br>you and your family <br>reach the Best Experience!
           </h2>
            <!-- LAYER NR. 3 --> 
           <p class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="310" 
           data-speed="500"
           data-start="2000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;font-weight: 900; font-size: 25px">
           </p>
        <!-- LAYER NR. 3 -->
           <div class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="395" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#about" class="btn-common btn-green bounce-white page-scroll">Our Services</a>
          </div>
      </li>

        <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE -->
       	 <img  src="images/pool-head-img-3.jpg" alt="slidebg1" data-bgposition="center top" >
        
           <!-- LAYER NR. 1 -->
           <p class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="130" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">Title
           </p>
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption fade tp-resizeme text-left"
           data-x="center"
           data-y="160" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9;font-weight: 900; font-size: 65px">Text related to Work History!
           </h2> 
        <!-- LAYER NR. 3 -->
           <div class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="270" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#project" class="btn-common btn-green bounce-white page-scroll">Our Proud Histroy</a>
           </div>
        </li>

      <li data-transition="fade" data-slotamount="6" data-delay="5000" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
        <!-- MAIN IMAGE -->
			<!-- MAIN IMAGE -->
			<img src="video/thumb.jpg"  alt="video slide"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
			<!-- LAYERS -->

			<!-- LAYER NR. 1 -->
			<div class="tp-caption tp-fade fadeout fullscreenvideo"
				data-x="0"
				data-y="0"
				data-speed="1000"
				data-start="1100"
				data-easing="Power4.easeOut"
				data-endspeed="1500"
				data-endeasing="Power4.easeIn"
				data-autoplay="true"
				data-autoplayonlyfirsttime="false"
				data-nextslideatend="true"
				data-forceCover="1"
				data-dottedoverlay="twoxtwo"
				data-aspectratio="16:9"
				data-forcerewind="on"
				style="z-index: 2">


				<video class="video-js vjs-default-skin" preload="none" width="100%" height="100%"
				poster='video/thumb.jpg' data-setup="{}" muted>
				<source src='video/pool.mp4' type='video/mp4' />
				<source src='video/pool.webm' type='video/webm' />
				</video>

			` </div>
            
            
        <p class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="200" 
           data-speed="500"
           data-start="1000"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           style="z-index: 5;">Title
           </p>
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="center"
           data-y="230" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 65px">
           Some Text regarding prices
           </h2>
           <div class="tp-caption sft tp-resizeme"
           data-x="center"
           data-y="320" 
           data-speed="500"
           data-start="2800"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.1"
           data-endelementdelay="0.1"
           data-linktoslide="next"
           style="z-index: 12;">
           <a href="#pricing" class="btn-common btn-green bounce-white page-scroll">Prices</a>
           </div>
        </li>
      </ul>
    </div>
  </div>
</section>