<section id="main-slider">
  
  <div class="tp-banner-container">
    <div class="fullscreenbanner tp-banner">      
      <ul>	<!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000" >
        <!-- MAIN IMAGE -->
       	 <img  src="images/Slider-img-1.png" alt="slidebg1" data-bgfit="cover" >
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="10"
           data-y="100" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 50px; text-align: left">
           <strong><strong>POOL SEASON IS ALMOST HERE<br>
           <img src='images/tagline-bottom.png' width='50%'/>
           <br> 
           <span style="font-weight: 900; font-size: 30px; text-align: left">ARE YOU READY TO MAKE BEST OF<br> SUMMER 2021?</span></strong></strong>
           <br><br>
           <a href="#contactus" class="btn-common btn-green bounce-white page-scroll" style='font-size:20px'>Contact Us</a>
           </h2>
        
        </li>
      
      
        <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE -->
       	 <img  src="images/Slider-img-2.png" alt="slidebg1" data-bgposition="center top" >
        
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="10"
           data-y="100" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 50px; text-align: left">
           <strong><strong>OUR SERVICES<br>
           <img src='images/tagline-bottom.png' width='50%'/>
           <br> 
           <span style="font-weight: 900; font-size: 30px; text-align: left">WE KEEP YOUR POOL AND HOT TUB IN GOOD HEALTH<br> SO THAT, YOU ENJOY SUMMERS WITHOUT ANY WORRIES!</span></strong></strong>
           <br><br>
           <a href="#about" class="btn-common btn-green bounce-white page-scroll" style='font-size:20px'>Our Services</a>
           </h2>

        </li>

      <li data-transition="fade" data-slotamount="6" data-delay="5000" data-masterspeed="1000"  data-fstransition="fade" data-fsmasterspeed="1000" data-fsslotamount="7">
        <!-- MAIN IMAGE -->
			<!-- MAIN IMAGE -->
			<img src="video/thumb.png"  alt="video slide"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
			<!-- LAYERS -->

			<!-- LAYER NR. 1 -->
			<div class="tp-caption tp-fade fadeout fullscreenvideo"
				data-x="0"
				data-y="0"
				data-speed="1000"
				data-start="1100"
				data-easing="Power4.easeOut"
				data-endspeed="1500"
				data-endeasing="Power4.easeIn"
				data-autoplay="true"
				data-autoplayonlyfirsttime="false"
				data-nextslideatend="true"
				data-forceCover="1"
				data-dottedoverlay="twoxtwo"
				data-aspectratio="16:9"
				data-forcerewind="on"
				style="z-index: 2">


				<video class="video-js vjs-default-skin" preload="none" width="100%" height="100%"
				poster='video/thumb.png' data-setup="{}" muted>
				<source src='video/pool.mp4' type='video/mp4' />
				<source src='video/pool.webm' type='video/webm' />
				</video>

			   </div>
            
            
        <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="10"
           data-y="100" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 50px; text-align: left">
           <strong><strong>1000's OF FAMILIES SATISFIED<br>
           <img src='images/tagline-bottom.png' width='50%'/>
           <br> 
           <span style="font-weight: 900; font-size: 30px; text-align: left"> TELL US ABOUT WHAT YOU WANT <br> REQUEST A QUOTE TODAY!</span></strong></strong>
           <br><br>
           <a href="#contact" class="btn-common btn-green bounce-white page-scroll" style='font-size:20px'>Request a Quote</a>
           </h2>

        </li>
      </ul>
    </div>
  </div>
</section>