<section id="main-slider" style='padding-top:80px'>
  
  <div class="tp-banner-container">
    <div class="fullscreenbanner tp-banner">      
      <ul>	<!-- SLIDE  -->
        <li data-transition="fade" data-slotamount="6" data-delay="5000" >
        <!-- MAIN IMAGE -->
       	 <img  src="images/Slider-img-1.JPG" alt="slidebg1" data-bgfit="cover" >
        <!-- LAYER NR. 2 -->
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="5"
           data-y="50" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 500%; text-align: left; text-shadow: 1px 1px 2px black;">
           <strong class='header-font-mobile-fix' id="headingTitle">SPRING 2022 IS HERE!<br></strong>
           <p class='header-font-mobile-fix' id="headingSubTitle" style="margin-top: 45px;text-align: left;font-size: 50%"> BOOK YOUR OPENING TODAY!</p>
           <a href="form/OpeningClosingPreOrders.pdf" target='_blank' class="btn-common btn-green bounce-white page-scroll" style='font-size: 30%; text-shadow: none'>REQUEST FORM</a>
           <a href="#about" class="btn-common btn-green bounce-white page-scroll" style='font-size: 30%; text-shadow: none'>SERVICES</a>
           </h2>
        </li>
      
      
        <!--<li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE 
       	 <img  src="images/Slider-img-2.png" alt="slidebg1" data-bgposition="center top" >
        
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="10"
           data-y="100" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 500%; text-align: left; text-shadow: 1px 1px 2px black">
           <strong>OUR EXCELLENT SERVICES</strong><br>

           <p style="margin-top: 60px;font-weight: 900; font-size: 50%; text-align: left">KEEP YOUR POOL AND HOT TUB IN </p>
           <p style="font-weight: 900; font-size: 50%; text-align: left">BEST OF ITS CONDITION.</p>
           <a href="#about" class="btn-common btn-green bounce-white page-scroll" style='margin-top: 30px;font-size:35%; ; text-shadow: none'>Services</a>
           </h2>

        </li>

      <li data-transition="fade" data-slotamount="6" data-delay="5000">
        <!-- MAIN IMAGE 
       	 <img  src="images/Slider-img-3.png" alt="slidebg1" data-bgposition="center top" >
        
           <h2 class="tp-caption sft tp-resizeme text-center"
           data-x="10"
           data-y="100" 
           data-speed="500"
           data-start="1500"
           data-easing="Power3.easeInOut"
           data-elementdelay="0.05"
           data-endelementdelay="0.1"
           style="z-index: 9; font-weight: 900; font-size: 500%; text-align: left; text-shadow: 1px 1px 2px black">
           <strong>OUR LATEST PROJECTS</strong><br>
           <p style="margin-top: 60px;font-weight: 900; font-size: 50%; text-align: left">THOUSANDS OF PROJECTS COMPLETED,</p>
           <p style="font-weight: 900; font-size: 50%; text-align: left">HAVE A LOOK TO THEM!</p>
           
           <a href="#contact" class="btn-common btn-green bounce-white page-scroll" style='margin-top: 30px;font-size:35%; ; text-shadow: none'>Our Projects</a>
           </h2>

        </li>-->
      </ul>
    </div>
  </div>
</section>