<!-- Work Project GALLERY -->
<section id="project" class="wow fadeInUp" data-wow-duration="100ms" data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">what we do</p>
        <h2 class="heading" style='text-decoration:underline'>latest projects</h2>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid project-wrapper">
    <div class="zerogrid">
      <div class="wrap-container clearfix">
        <div class="row wrap-content">
          <div class="col-1-2">
              <div class="col-full mix work-item video">
          <div class="wrap-col">
              <div class="item-container"> 
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/workimg1.jpg">
						<div class="overlay-inner">
						<h4 class="base">Creative Design</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.</p>
                  </div>
					</a>
                <img src="images/workimg1.jpg" alt="work"/> 
              </div>
            </div>
          </div>
          <div class="col-2-4 mix work-item brand">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox-media overlay text-center" href="https://player.vimeo.com/video/145241713">
						<div class="overlay-inner">
						<h4 class="base">Creative Design</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/workimg4.jpg" alt="work"/>  
                  </div>
                </div>
              </div>
              <div class="col-2-4 mix work-item">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/workimg5.jpg">
						<div class="overlay-inner">
						<h4 class="base">Creative Design</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/workimg5.jpg" alt="work"/>  </div>
                </div>
              </div>
          </div>
         
              <div class="col-1-4 mix work-item graphic">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/workimg2.jpg">
						<div class="overlay-inner">
						<h4 class="base">Creative Design</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/workimg2.jpg" alt="work"/>  
                  </div>
                </div>
              </div>
              <div class="col-1-4 mix work-item design">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/workimg3.jpg">
						<div class="overlay-inner">
						<h4 class="base">Creative Design</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/workimg3.jpg" alt="work"/>  </div>
                </div>
              </div>
              <div class="col-1-2 mix work-item graphic">
          <div class="wrap-col">
              <div class="item-container"> 
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/workimg6.jpg">
						<div class="overlay-inner">
						<h4 class="base">Creative Design  </h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                <img src="images/workimg6.jpg" alt="work"/>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Testinomials -->
<div class='' style="position:relative;">
<section class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">People Love Our Work</p>
        <h2 class="heading" style='color:#0588BC'>our happy clients</h2>
        <div id="testinomial-slider" class="owl-carousel">
          <div class="item">
            <p>We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry. </p>
            <h5 style='color: black'>ohn smith - upwork, client</h5>
            <img src="images/stars.png" alt="star rating"> </div>
          <div class="item">
            <p>We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry. </p>
            <h5 style='color: black'>ohn smith - upwork, client</h5>
            <img src="images/stars.png" alt="star rating"> </div>
          <div class="item">
            <p>We have a number of different teams within our agency that specialise in different areas of business so you can be sure that you won’t receive a generic service and although we can’t boast years and years of service we can ensure you that is a good thing in this industry. </p>
            <h5 style='color: black'>ohn smith - upwork, client</h5>
            <img src="images/stars.png" alt="star rating"> </div>
        </div>
      </div>
    </div>
  </div>
</section>