<!-- Work Project GALLERY -->
<section id="project" class="wow fadeInUp" data-wow-duration="100ms" data-wow-delay="100ms">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">what we do</p>
        <h2 class="heading" style='text-decoration:underline'>latest projects</h2>
      </div>
    </div>
  </div>
  
  
  <div class="container-fluid project-wrapper">
    <div class="zerogrid">
      <div class="wrap-container clearfix">
        <div class="row wrap-content">
          <div class="col-1-2">
              <div class="col-full mix work-item video">
          <div class="wrap-col">
              <div class="item-container"> 
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/pool.jpg">
						<div class="overlay-inner">
						<h4 class="base">Swimming Pool and Hot Tub Maintenance</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna. Nunc viverra imperdiet enim. Fusce est. Vivamus a tellus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin pharetra nonummy pede. Mauris et orci. Aenean nec lorem.</p>
                  </div>
					</a>
                <img src="images/pool.jpg" alt="work"/> 
              </div>
            </div>
          </div>
          <div class="col-2-4 mix work-item brand">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox-media overlay text-center" href="images/Liner_Install.jpg">
						<div class="overlay-inner">
						<h4 class="base">Liner Installation</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/Liner_Install.jpg" alt="work"/>
                  </div>
                </div>
              </div>
              <div class="col-2-4 mix work-item">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/Liner_Install_1.jpg">
						<div class="overlay-inner">
						<h4 class="base" style='font-size: 17px'>Liner Installation</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/Liner_Install_1.jpg" alt="work"/>  </div>
                </div>
              </div>
          </div>
         
              <div class="col-1-4 mix work-item graphic">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/workimg6.jpg">
						<div class="overlay-inner">
						<h4 class="base" style='font-size: 16px'>Modern Leak Detection Techniques</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/workimg6.jpg" alt="work"/>  
                  </div>
                </div>
              </div>
              <div class="col-1-4 mix work-item design">
                <div class="wrap-col">
                  <div class="item-container"> 
                    <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/chemicals.jpg">
						<div class="overlay-inner">
						<h4 class="base" style='font-size: 16px'>Water Chemistry</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                    <img src="images/chemicals.jpg" alt="work"/>  </div>
                </div>
              </div>
              <div class="col-1-2 mix work-item graphic">
          <div class="wrap-col">
              <div class="item-container"> 
                <a class="fancybox overlay text-center" data-fancybox-group="gallery" href="images/pump.jpg">
						<div class="overlay-inner">
						<h4 class="base">Equipment Installation</h4>
                  <div class="line"></div>
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas porttitor congue massa. Fusce posuere, magna sed pulvinar ultricies, purus lectus malesuada libero, sit amet commodo magna eros quis urna.</p>
                  </div>
					</a>
                <img src="images/pump.jpg" alt="work"/>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- Testinomials -->
<div class='' style="position:relative;">
<section class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="title">People Love Our Work</p>
        <h2 class="heading" style='color:#0588BC'>our happy clients</h2>
        <div id="testinomial-slider" class="owl-carousel">
          <div class="item">
            <p>I have gotten to use Fun In The Sun pool services for 6 years now and could not be more pleased with the service as well as the knowledge that is given to me about my pool and issues that I have over come. Jason has always been able to give me straight answers and resolutions to anything that I have had to ask about my pool.</p>
            <h5 style='color: black'>Happy Customer, Vaughan</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div>
          <div class="item">
            <p>I have used Jason and FUN IN THE SUN POOL SERVICE since I installed my pool 5 years ago. As a new pool owner I really appreciate that Jason takes the time to explain how everything works from the pool equipment to water chemistry. Whenever I have a question I can always call or text and I always receive a fast response. He is reliable, dependable and honest. I highly recommend this company. </p>
            <h5 style='color: black'>Corey, Vaughan</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div>
          <div class="item">
            <p>After years of going back and forth from pool company to pool company due to terrible service, I finally stumbled across Jason and Fun in the sun pools. For the first time ever, my pool was opened to my satisfaction (and my standards are as normal as anyone elses), my weekly services are done when I've arranged for them to be done, and when I've had a couple of repair issues to deal with, not only was the problem explained to me first, it was then explained in a way that I understood why I needed to spend my hard earned dollars to fix the problem. Highly Satisfied!!</p>
            <h5 style='color: black'>Happy Customer, Toronto </h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div>
          <div class="item">
            <p>We have used this company for a number of years now. He is amazing. Whenever we have had a problem it has been rectified. The prices for openings and closing are considerably less than the larger companies. When we wanted to update some of the equipment, we were told it was working fine and why spend the money unnecessarily. he never tried to sell us anything that was not required. We have recommended this company to a number of people. All are really thankful that we did.</p>
            <h5 style='color: black'>Jenn S, Vaughan</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div> 
          <div class="item">
            <p>We use him for opening and closing. He also installed or new liner and salt system everything went great. On time. Looks great. We have also passed on Jason to many of our friends with swimming pools or that need other work done in their back yards. Jason gives great information on product and doesn't try & sale u something he thinks u don't need. He is honest & right to the point. On cost on product and terms for payment.</p>
            <h5 style='color: black'>Happy Customer, Toronto</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div>  
          <div class="item">
            <p>We have used Fun in the Sun Pool Services for approximately 6 years. They have proven to be extremely knowledgeable and trustworthy when it comes to solving problems with our pool. They will never tell you that your pool needs something fixed or replaced if it doesn't. They are professional and courteous and make every effort to respond to a call as soon as possible. We would not hesitate to recommend Fun in the Sun Pool Service.</p>
            <h5 style='color: black'>Andrea B., Vaughan</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div>
          <div class="item">
            <p>We are very satisfied with our service from FUN IN THE SUN POOL. We have worked with Jason for a number of years and found his knowledge of the Pool Industry exceptional. They always work to satisfy the customer and solve any problems that develop. Highly recommend their work.</p>
            <h5 style='color: black'>John McErlain., Vaughan</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div> 
          <div class="item">
            <p>I had Jason from fun in the sun pool service referred by a friend who has had Jason service his pool for years. My wife and I have had problems with pool service companies in the past, but Jason was different then all the rest! He installed a safety cover and closed our pool last fall. We could not be more pleased with the work that was done. Jason and his crew were professional, informative and fair with the product and labor costs. We just had them install our new pool liner and it looks incredible!!! Can't say enough about Jason and his worker's. If your looking for an honest and professional pool company, give these guys a call.</p>
            <h5 style='color: black'>Robert, North York</h5>
            <h5 style='color: black'>Source - Homestars</h5>
            <img src="images/stars.png" alt="star rating"> </div> 

        </div>
      </div>
    </div>
  </div>
</section>