 @charset "utf-8";
/* CSS Document */

.green {
	background:#0588BC;
	}
.green_light {
	background: #0588BC;
	}
.blue{
	background:#0588BC;
	} 
.dark_gray {
	background:#0588BC;
	}
.we-do .do-wrap a{
	color:#0588BC;
}

.we-do .do-wrap a:hover{
	color:#0588BC;
}
.we-do .do-wrap:hover .top, we-do .do-wrap:focus .top, .we-do .do-wrap:hover span, .we-do .do-wrap:focus span{
	background:#0588BC;
}

.pricing_item.dark_gray {
    border-color: #0588BC;
}

.pricing_item.dark_gray .pricing_action{
    background: #0588BC;
}


.pricing_item.dark_gray:hover .pricing_action{
	border:1px solid transparent;
	background:#0588BC !important;
}


	